<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>恭喜您</title>
    <link rel="stylesheet" href="static/template/css/register.css">
</head>
<body>
<div class="main">
    <img src="../static/template/img/bg.png" alt="bg" class="bg">
    <div class="congratulations">
        <p>恭喜你获得 <br>
            <b id="score">1000</b>BCDN Points
        </p>
    </div>
    <a href="{{ .Url }}" class="fast-btn"><img src="static/template/img/2.png" alt="" class="btn-bg"><span class="fast">快速注册</span></a>
</div>
<script src="static/template/js/jquery-3.2.1.min.js"></script>
<script src="static/template/js/register.js"></script>
<script>
    var iScale = 1;
    iScale = iScale / window.devicePixelRatio;
    document.write('<meta name="viewport" content="width=device-width,initial-scale=' + iScale + ',minimum-scale=' + iScale + ',maximum-scale=' + iScale + '" />')
    document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth / 7.6 + 'px';
</script>
</body>
</html>
 