<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Congratulation</title>
    <link rel="stylesheet" href="template/css/register.css">
</head>
<body>
<div class="main">
    <img src="template/img/bg.png" alt="bg" class="bg">
    <div class="congratulations">
        <p>Congratulation for you getting <br>
            <b id="score">1000</b>BCDN Points
        </p>
    </div>
    <a href="register_en.html" class="fast-btn"><img src="template/img/2.png" alt="" class="btn-bg"><span class="fast">Register</span></a>
</div>

<script src="template/js/jquery-3.2.1.min.js"></script>
<script src="template/js/register_en.js"></script>
<script>
    var iScale = 1;
    iScale = iScale / window.devicePixelRatio;
    document.write('<meta name="viewport" content="width=device-width,initial-scale=' + iScale + ',minimum-scale=' + iScale + ',maximum-scale=' + iScale + '" />')
    document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth / 7.6 + 'px';
</script>
</body>
</html>
